//全体のフォント設定
.v-application {
  font-family: 'Noto Sans JP', '游ゴシック', 'Yu Gothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Helvetica, 'メイリオ', 'Meiryo', sans-serif ;
}
//ページタイトルの共通スタイル
#page-title {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 50px;  
}
//aタグの下線を消す
a {
  text-decoration: none;
}